/*Selector universal*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*Selector de etiqueta*/
body{
   
    background-color: #f6dae4;
}
.titulo{
    font-family: "Oswald", sans-serif;
    text-align: center;
    background-color: lightpink;
    margin-top: 60px;

}
.textopri{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu {
    background-color: rgb(253, 184, 195);
    margin: 0;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra para darle más estilo */
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0; /* Elimina el padding por defecto */
}

.menu ul li {
    margin: 0;
}

.menu ul li a {
    display: block;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease; /* Añade una transición suave para el hover */
}

.menu ul li a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1); /* Añade un fondo ligeramente oscuro al hacer hover */
}


/*Selector de clase
.parrafo1{
   color: rgb(38, 36, 36);
}
Selector de id 
#pasos{
color: black;
*/
.container{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

ul {
    list-style-type: disc; /* Muestra puntos en listas desordenadas */
    margin-left: 20px; /* Añade un margen a la izquierda */
}

ol {
    list-style-type: decimal; /* Muestra números en listas ordenadas */
    margin-left: 20px; /* Añade un margen a la izquierda */
}

li {
    margin-bottom: 5px; /* Añade un pequeño margen inferior para separar los elementos */
}

